---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>An article you can only read once!</h1>
			<p>Before continuing, please the following. <button onclick="document.getElementById(this.getAttribute('aria-controls')).showModal();" aria-controls="noticeDialog">Read Notice</button></p>
			
		</main>
		<Footer />
		<dialog id="noticeDialog">
			<p>I get it you're smart, and you know how to do a bit of web dev and how to clear cookies. But this is a fun site. For fun.</p>
		</dialog>
		<script>
			const hashedIp = await (await fetch('/hashedip.json')).json();
			console.log(hashedIp);
		</script>
	</body>
</html>
